*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
header{
    background-color: #fff8f3FF;
}
.common-btn{
    background-color: #fd6e0aFF;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    color: white;
}
.logo{
    font-weight: bold;
    font-size: 45px;
}
.logo-R{
    color: #fd6e0aFF;
}
header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 8px 4px;
}
header nav ul {
    display: flex;  
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
}
 ul li a{
    text-decoration: none;
}